.pageContainer {

    margin: auto;
    display: inline-flexbox;
    width: 100%;
    text-align: center;
    
}
.AddActContainer {
    background-color: rgba(90, 90, 90, 0.555);
    color: black; margin: auto;
    margin: auto;
}

.addNewActivityForm {
    background-color: rgb(85, 85, 85);
    display: flexbox;
    width: 100%;
    padding:1%
    
}
.text {
    color: black;
    font-weight: 500;
    width: 100%;
}

.formSelect{
    margin: auto;
    width: fit-content;
    height: 2em;
}

.inputContainer {
    margin: auto;
    padding: 1%;
    display: inline-flexbox;
    width: 100%;
    
    
    
}

label{
    display: flex;
    margin: auto;
    justify-content: center;
    
}

.description {
    width: 30%;
    height: 5em;
    overflow-wrap: break-word;
}


#createActivityButton {
    width: 20em;
    height: 3em;
    border-radius: 20px;
}



input:invalid:required {
    border-color: brown;
    border-width: 3px;
    color: aliceblue;
    
}



input:invalid {
    background-color: rgba(220, 20, 60, 0.137);
}

input:valid {
    border-color: green;
    border-width: 3px;
    
}


select:required {
    border-color: brown;
}

select:valid {
    border-color: aquamarine;
}

