.homepage {
    margin: auto;
    width: 100%;
    text-align: center;
    
}
.paginationButtons {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationButton {
    width: 5em;
    height: 2em;
    margin: 0 5px ;
    background-color: bisque;
    font-size: 1.2em;
    border-radius: 15px;
}


.loadingScreen {
    
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 1%;
}

.countryLoadingFlag {
    width: 30em;
    height: 30em;
    margin: auto;
    animation-name: loadingFlag;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
    animation-timing-function: ease-in-out;

}

.loadingText {
  color: aliceblue;
  animation-name: loadingText;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction:normal ;
  animation-timing-function:ease;
  animation-fill-mode: backwards;
}

.navbarContainer {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }

.filtersAndOrders{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
}

  .orderButtonContainer {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    margin: auto;
  }


  #orderButton {
    border-radius: 15px;
    width: 15em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    margin: auto;
  }

  .filterList,
  .filterbyTouristActivity {
    height: 1em;
    display: inline-flex;
    width: 15em;
    margin: auto;
    background-color: bisque;
    border-radius: 15px;
    padding: 5px;
    justify-content: center;
  
  }


  .continents {
    width: 15em;
    height: 2em;
    background-color: bisque;
    border: none;
  }
  

  
  @keyframes loadingText {
    0% {
      transform: translateX(-100%);
    } 
    40% {
      transform: translateX(0%);
    }

    60% {
      transform: translate(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes loadingFlag {

    0% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(360deg);
    }
    75% {
        transform: scale(100%);
    }
    100% {
        transform: scale(0%);
    }
    
  }